<p id="notice"><%= notice %></p>

<%= link_to 'New User', new_user_path, class: "btn btn-primary" %>
<h1>Listing Users</h1>
<div class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    Filter
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <li><%= link_to "Query 1", users_path(query: 1) %></li>
    <li><%= link_to "Query 2", users_path(query: 2) %></li>
    <li><%= link_to "Query 3", users_path(query: 3) %></li>
    <li><%= link_to "Query 4", users_path(query: 4) %></li>
    <li role="separator" class="divider"></li>
    <li><%= link_to "Default", users_path %></li>
  </ul>
</div>
<table class="table table-striped" >
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Dob</th>
      <th>Profession</th>
      <th colspan="36"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.dob.strftime("%d.%m.%Y.") %></td>
        <td><%= user.profession_name %></td>
        <td><%= link_to 'Show', user, class: "btn btn-default btn-xs" %></td>
        <td><%= link_to 'Edit', edit_user_path(user), class: "btn btn-warning btn-xs" %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-xs" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

